<li><a href="/">newsletter</a></li>
<li><a href="/visitors">visitor stats</a></li>
<li><a href="mailto:liz@lizmrush.com">contact</a></li>
<li><a href="http://lizmrush.com">return to lizmrush.com</a></li>
